<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Test App</a>
  </div>
</nav>

<div class="container">
  <div class="section pt-5">
    <div class="card p-3">
      <h3 class="text-center pb-3">Signup User</h3>
      <form [formGroup]="userForm">
        <div class="mb-3">
          <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
            formControlName="firstName">

          <div *ngFor="let errors of ValidationMsg.firstName | keyvalue">
            <p class="text-danger" *ngIf="
                userForm.get('firstName')?.hasError(errors.key) &&
                userForm.get('firstName')?.touched">* {{errors.value}}
            </p>
          </div>
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" id="lastName" placeholder="Enter last name"
            formControlName="lastName">

          <div *ngFor="let errors of ValidationMsg.lastName | keyvalue">
            <p class="text-danger" *ngIf="
                  userForm.get('lastName')?.hasError(errors.key) &&
                  userForm.get('lastName')?.touched">* {{errors.value}}
            </p>
          </div>
        </div>

        <div class="mb-3">
          <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">

          <div *ngFor="let errors of ValidationMsg.email | keyvalue">
            <p class="text-danger" *ngIf="
              userForm.get('email')?.hasError(errors.key) &&
              userForm.get('email')?.touched">* {{errors.value}}
            </p>
          </div>
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" id="password" placeholder="Enter password"
            formControlName="password">

          <div *ngFor="let errors of ValidationMsg.password | keyvalue">
            <p class="text-danger" *ngIf="
              userForm.get('password')?.hasError(errors.key) &&
              userForm.get('password')?.touched">* {{errors.value}}
            </p>
          </div>
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" id="confirm_password" placeholder="Enter confirm password"
            formControlName="confirm_password">

          <div *ngFor="let errors of ValidationMsg.confirm_password | keyvalue">
            <p class="text-danger" *ngIf="
                userForm.get('confirm_password')?.hasError(errors.key) &&
                userForm.get('confirm_password')?.touched">* {{errors.value}}
            </p>
          </div>
        </div>

        <button type="button" class="btn btn-dark" (click)="signUp()" [disabled]="userForm.invalid">Signup</button>
      </form>
    </div>
  </div>
</div>