<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Test App</a>
  </div>
</nav>

<div class="container">
  <div class="section pt-5">
    <div class="card p-3">
      <h3 class="text-center pb-3">Signup User</h3>
      <form [formGroup]="userForm">
        <div class="mb-3">
          <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
            formControlName="firstName">

          <p class="text-danger" *ngIf="
          userForm.get('firstName')?.hasError('required') &&
          userForm.get('firstName')?.touched">* First name is required</p>

        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="lastName" placeholder="Enter last name"
            formControlName="lastName">
          <p class="text-danger" *ngIf="
            userForm.get('lastName')?.hasError('required') &&
            userForm.get('lastName')?.touched">* Last Name is required</p>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">

          <p class="text-danger" *ngIf="
          userForm.get('email')?.hasError('required') &&
          userForm.get('email')?.touched">* Email is required</p>

          <p class="text-danger" *ngIf="userForm.get('email')?.hasError('pattern') &&
          userForm.get('email')?.touched">* Please enter valid email
          </p>

        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" placeholder="Enter password"
            formControlName="password">

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('required') &&
          userForm.get('password')?.touched">* password is required</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('minlength') &&
          userForm.get('password')?.touched">* Minimum 8 characters required</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('passwordIncludeFirst') &&
          userForm.get('password')?.touched">* Password should not include first name</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('passwordIncludeLast') &&
          userForm.get('password')?.touched">* Password should not include last name</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('uppercaseError') &&
          userForm.get('password')?.touched">* Password must have one uppercase</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('lowercaseError') &&
          userForm.get('password')?.touched">* password must have one lowercase</p>

        </div>

        <div class="mb-3">
          <input type="password" class="form-control" id="confirm_password" placeholder="Enter confirm password"
            formControlName="confirm_password">

          <p class="text-danger" *ngIf="
          userForm.get('confirm_password')?.hasError('required') &&
          userForm.get('confirm_password')?.touched">* Confirm password is required</p>

          <p class="text-danger" *ngIf="
          userForm.get('confirm_password')?.hasError('minlength') &&
          userForm.get('confirm_password')?.touched">* Minimum 8 characters required</p>

          <p class="text-danger" *ngIf="
          userForm.get('confirm_password')?.hasError('passwordMissMatch') &&
          userForm.get('confirm_password')?.touched">* Confirm password doesn't match</p>

        </div>

        <button type="button" class="btn btn-dark" (click)="signUp()" [disabled]="userForm.invalid">Signup</button>
      </form>
    </div>
  </div>
</div>