<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Test App</a>
  </div>
</nav>

<div class="container">
  <div class="section pt-5">
    <div class="card p-3">
      <h3 class="text-center pb-3">Signup User</h3>
      <form [formGroup]="userForm">
        <div class="mb-3">
          <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
            formControlName="firstName">

          <p class="text-danger" *ngIf="
          userForm.get('firstName')?.hasError('required') &&
          userForm.get('firstName')?.touched">* {{ValidationMsg.firstName.required}}</p>

          <p class="text-danger" *ngIf="
          userForm.get('firstName')?.hasError('pattern') &&
          userForm.get('firstName')?.touched">* {{ValidationMsg.firstName.pattern}}</p>
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" id="lastName" placeholder="Enter last name"
            formControlName="lastName">

          <p class="text-danger" *ngIf="
            userForm.get('lastName')?.hasError('required') &&
            userForm.get('lastName')?.touched">* {{ValidationMsg.lastName.required}}</p>
        </div>

        <div class="mb-3">
          <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">

          <p class="text-danger" *ngIf="
          userForm.get('email')?.hasError('required') &&
          userForm.get('email')?.touched">* {{ValidationMsg.email.required}}</p>

          <p class="text-danger" *ngIf="userForm.get('email')?.hasError('pattern') &&
          userForm.get('email')?.touched">* {{ValidationMsg.email.pattern}}
          </p>
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" id="password" placeholder="Enter password"
            formControlName="password">

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('required') &&
          userForm.get('password')?.touched">* {{ValidationMsg.password.required}}</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('minlength') &&
          userForm.get('password')?.touched">* {{ValidationMsg.password.minlength}}</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('passwordIncludeFirst') &&
          userForm.get('password')?.touched">* {{ValidationMsg.password.passwordIncludeFirst}}</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('passwordIncludeLast') &&
          userForm.get('password')?.touched">* {{ValidationMsg.password.passwordIncludeLast}}</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('uppercaseError') &&
          userForm.get('password')?.touched">* {{ValidationMsg.password.uppercaseError}}</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('lowercaseError') &&
          userForm.get('password')?.touched">* {{ValidationMsg.password.lowercaseError}}</p>

          <p class="text-danger" *ngIf="
          userForm.get('password')?.hasError('pattern') &&
          userForm.get('password')?.touched">* {{ValidationMsg.password.pattern}}</p>

        </div>

        <div class="mb-3">
          <input type="password" class="form-control" id="confirm_password" placeholder="Enter confirm password"
            formControlName="confirm_password">

          <p class="text-danger" *ngIf="
          userForm.get('confirm_password')?.hasError('required') &&
          userForm.get('confirm_password')?.touched">* {{ValidationMsg.confirm_password.required}}</p>

          <p class="text-danger" *ngIf="
          userForm.get('confirm_password')?.hasError('passwordMissMatch') &&
          userForm.get('confirm_password')?.touched">* {{ValidationMsg.confirm_password.passwordMissMatch}}</p>

          <p class="text-danger" *ngIf="
          userForm.get('confirm_password')?.hasError('pattern') &&
          userForm.get('confirm_password')?.touched">* {{ValidationMsg.confirm_password.pattern}}</p>

        </div>

        <button type="button" class="btn btn-dark" (click)="signUp()" [disabled]="userForm.invalid">Signup</button>
      </form>
    </div>
  </div>
</div>